
table,
th,
td {
    border: 2px solid black;
}

img {
    width: 250px;
}

th,
td {
    padding: 30px;
}

#LOGO {
    width: 150px;
}

#Tabla2 {
    margin-top: 10px
}
    
a{
      border-radius: 25px;
      padding: 100px 50px;
      text-decoration: none;
      color: #ffffff;
      background-color:#000000;
      margin: 5px;
    }