
table,
th,
td {
    border: 2px solid black;
}

img {
    width: 250px;
}

th,
td {
    padding: 30px;
}

#LOGO {
    width: 150px;
}

#Tabla2 {
    margin-top: 10px
}
    
a{
      border-radius: 5px;
      padding: 10px 7px;
      text-decoration: none;
      color: #fff;
      background-color:#95eea0;
      margin: 5px;
    }